body{

	font-size: 12pt;
	color: black;
	font-family:"Calibri","Arial","Sans-serif";
	


}

a:link 
{ 
 text-decoration:none;
}

#title{

	margin-top: -100pt;
	padding-left: 10%;
	margin-bottom: 100pt;
	font-size: 30pt;
	

}

#log{

	
	border-width:1px;
	border-style:solid;
	border-color:#eeeeee;
	
	background-color:#eeeeee;
	box-shadow:2px 2px 10px;
	
	text-align : center;
	margin-top: 2%;
	margin-left: 75%;
	margin-right: 2%;
	margin-bottom: 5%;
	
	border-radius: 10pt;


}

#foot{
	position: absolute;

}

#search{

	border-width:1px;
	border-style:solid;
	border-color:#eeeeee;
	
	background-color:#eeeeee;
	box-shadow:2px 2px 10px;
	
	text-align : center;
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	
	
	border-radius: 10pt;
	
}

#content{
	
	text-align : center;
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	
	border-radius: 10pt;
	
}

#contentdemi{
	
	text-align : center;
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 40%;
	margin-bottom: 5%;
	
	border-radius: 10pt;
	
}

#menu{
	
	text-align : center;
	
}
#menu input[type=submit]{
	width:200pt;
}


#cadre{

	border-width:1px;
	border-style:transparent;
	border-color:#dddddd;
	width:33%;
	height: 20%;
	display: inline-table;

}



#ld{

	border-width:1px;
	border-style:transparent;
	border-color:#dddddd;

}




#log input[type=text], #log input[type=password]{
	text-align:center;
	border-radius:5px;
	box-shadow:2px 2px 10px;
	font-family:"Calibri","Arial","Sans-serif";
	font-size:12pt;
	width:100pt;
}

#search input[type=text]{
	text-align:center;
	border-radius:5px;
	box-shadow:2px 2px 10px;
	font-family:"Calibri","Arial","Sans-serif";
	font-size:12pt;
	width:60%;
	margin-top: 10pt;
	margin-bottom: 10pt;

}


#search select[id=liste], select[id=liste]{
	text-align:center;
	border-radius:5px;
	box-shadow:2px 2px 10px;
	width:30%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 5%;
	margin-right: 5%;
	

}

#content input[type=text]{
	text-align:center;
	border-radius:5px;
	box-shadow:2px 2px 10px;
	font-family:"Calibri","Arial","Sans-serif";
	font-size:12pt;
	width:60%;
	margin-top: 10pt;
	margin-bottom: 10pt;

}

#content select[name=camp]{
	text-align:center;
	border-radius:5px;
	box-shadow:2px 2px 10px;
	width:30%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 1%;
	margin-right: 1%;
	

}

#content select[name=categorie]{
	text-align:center;
	border-radius:5px;
	box-shadow:2px 2px 10px;
	width:30%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 1%;
	margin-right: 1%;
	

}

#content select[name=campdemi]{
	text-align:center;
	border-radius:5px;
	box-shadow:2px 2px 10px;
	width:30%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 1%;
	margin-right: 1%;
	

}

#contentdemi select[name=camp], select[name=categorie]{
	text-align:center;
	border-radius:5px;
	box-shadow:2px 2px 10px;
	width:60%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 1%;
	margin-right: 1%;
	

}

#ajout input[type=text]{
	text-align:center;
	border-radius:5px;
	box-shadow:2px 2px 10px;
	font-family:"Calibri","Arial","Sans-serif";
	font-size:12pt;
	width:30%;
	margin-top: 5pt;
	margin-bottom: 5pt;
	

}

#search option{
	text-align:center;
	font-family:"Calibri","Arial","Sans-serif";
	font-size:12pt;
	
}


input[type=submit], input[type=reset]{
	border-style:solid;
	border-color:solid;
	box-shadow:-2pt -2pt 5pt #bbbbbb inset;
	border-radius: 5pt;
	background: rgba(245,245,245,0.4);
	width:150px;
	height: 5%;
	font-family:"Calibri","Arial","Sans-serif";
	font-size:12pt;
	
}

input[type=submit]:active , input[type=reset]:active {
	border-style:solid;
	border-color:transparent;
	box-shadow:5pt 5pt 10pt #dddddd inset;
	background: rgba(245,245,245,0.4);
	
	
}

td {
	width:7%;
}	

#td {
	width:7%;
}